h1{
    background-color: #387D22;
    color: cornsilk;
    padding: 2%;
}
#bang1{
    padding: 20px;
}
#bang2{
    padding: 2%;
}
#nutbam{
    margin: 10px;
    padding: 5px;
    color: wheat;
    background: tomato;
}
table{
    border-collapse: collapse;
}