body{
    font-family: helvetica;
    color: rgb(61, 61, 61);
    font-size: 14px;
}
/* form 1 */
.bang1{
    width: 600px;
    height: 950px;
    box-shadow: 3px 3px 10px #F2F2F2;
    border: 1px solid #FCFCFC;
    padding: 20px;
    border-radius: 5px;
}

.details1{
    margin-left: 30px;
}
table{
    padding: 15px;
}
.ke1{
    padding-bottom: 20px;
    font-size: 40px;
}
.kebang{
    border-bottom: 2px solid #E5E5E5;
    width: 100%;
}
td{
    width: 30%;
}
input, select{
    margin-top: 8px;
    background: #F3F3F3;
    border: 1px solid #E5E5E5;
    color: rgb(86, 86, 86);
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
    padding: 10px;
}
input{
    width: 70%;
}
select{
    width: 80%;

}
#CANCEL1{
    color: grey;
    
}
.bang2{
    width: 900px;
}
.thanhngnag{
    width: 300px;
}
.pass{
    color: #B3B3B3;
}
.button1{
    background: #4992C7;
    color: white;
    text-transform: capitalize;
}

/* het form 1 */

/* form 2 */
